/* ARTÍCULOS DESTACADOS */
.mainSlider .row{
    overflow: hidden;
}

.mainSlider .sectionText{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 30px black;
    font-weight: 600;
    color: white;
}

.mainSlider .sectionA, .sectionB, .sectionC{
    background-size: cover;
}
.mainSlider .sectionA{
    background: #cccccc url("./../src/tww3.png") no-repeat center;
    height:450px;
    font-size:3rem;
}
.mainSlider .sectionB{
    background: #cccccc url("./../src/botw.png") no-repeat center;
    height:225px;
    font-size:2rem;
}
.mainSlider .sectionC{
    background: #cccccc url("./../src/tlou.png") no-repeat center;
    height:225px;
    font-size:2rem;
}


/* LISTA DE ARTÍCULOS*/
.articulo .h3{
    font-size:2rem;
}
.articulo .fecha, .articulo .autor{
    font-family: 'IBM Plex Mono', monospace;
    color:rgb(130, 132, 133);
    font-size: 0.9rem;
}
.articulo:not(:first-child){
    border-top:1px solid rgb(224, 221, 221);
}
