@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600&display=swap');
/*
font-family: 'IBM Plex Mono', monospace;
font-family: 'Inter', sans-serif;
*/
/* PRINCIPAL */
*{
    box-sizing: border-box;
    vertical-align: middle;
}
html{
    font-size:18px;
}
html, a{
    color: #2c2c2c !important;
}
a:hover{
    text-decoration: none !important;
}
